.main {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .main {
    height: auto;
    padding: 1rem;
    overflow: hidden;
  }
  .card-area {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .card-area {
    grid-template-columns: 1fr;
  }
}
