/* Hero Section */
.hero-section {
    position: relative;
    height: 60vh;
    width: 100%;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 90%;
    text-align: right;
}

.gradient-text {
    -webkit-animation: name 10s infinite;
}

@keyframes name {
    0% {
        color: rgb(255, 255, 255);
    }

    25% {
        color: rgb(138, 18, 18);
    }

    50% {
        color: rgb(255, 217, 0);
    }

    75% {
        color: rgb(4, 121, 39);
    }

    100% {
        color: rgb(156, 91, 99);
    }
}

.hero-title {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.hero-description {
    color: #fff;
}

/* Main Content */
.main-content {
    width: 100%;
    margin: auto;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.reverse {
    flex-direction: row-reverse;
}

.story-content,
.manager-content,
.chef-content {
    flex: 1;
    margin: 20px;
}

.story-title,
.manager-title,
.chef-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Playfair Display', serif;
}

.story-image-container,
.manager-image-container,
.chef-image-container {
    flex: 1;
    margin: 20px;
}

.story-image,
.manager-image,
.chef-image {
    width: 90%;
    object-fit: cover;

}

.manager-name,
.chef-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.manager-text,
.chef-text {
    text-align: left;
}

/* Form Section */
.form-section {
    width: 30%; /* Adjust this width as needed */
    margin-left: auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #000000;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

.captcha {
    /* Style your captcha container here */
    background-color: #f2f2f2;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.form-section {
    width: 95%; /* Adjust this width as needed */
    margin: 20px;
}